[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
statsmodels = "*"
seaborn = "*"
ipykernel = "*"
plotly = "*"
matplotlib = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.8"
